<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    
    <footer class="bg-dark ">
        <div class="row w-75 mx-auto">
            <div class="col-md-6 p-5 mx-auto">

                <div class="">
                    <i class="fas fa-map-marker-alt "></i> <span class="p-2">Damanhour, Al-Buhaira, Egypt</span>
                </div>
                <br>
                <div class="">
                    <i class="fas fa-phone"></i> <span class="p-2">+2 010061 26863</span>
                </div class="p-3">
                <br>
                <div class="">
                    <i class="fas fa-envelope"></i> <span class="p-2">ahmedelgendyfci@gmail.com</span>
                </div class="p-3">

            </div>
            <div class="col-md-6 p-4  text-center">
                <h3>About The Blog</h3><br>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem minima unde
                    totam!</p><br>
                <div class="icons">
                    <i class="fab fa-twitter-square fa-2x"></i><span class="p-2"></span>
                    <i class="fab fa-google-plus-square fa-2x"></i><span class="p-2"></span>
                    <i class="fab fa-facebook-square fa-2x"></i><span class="p-2"></span>
                    <i class="fab fa-linkedin fa-2x"></i>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>