<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="row">
            <div class="col col-4 d-flex align-items-center justify-content-center flex-column">
                <div class="col">
                    <a class="box">
                        <div class="content">
                            <div class="service-icon">
                                <i class="fa fa-address-book fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="description">
                                 <p>Some description text here of the title that displays on hover</p>
                             </div>

                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="box">
                        <div class="content">
                            <div class="service-icon">
                                <i class="fa fa-address-book fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="description">
                                <p>Some description text here of the title that displays on hover</p>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col col-4 d-flex align-items-center justify-content-center">
                <div class="col">
                    <a id="ourService" class="box  d-flex align-items-center justify-content-center">
                        <div class="serve">
                            Our Service
                        </div>
                    </a>
                </div>
            </div>




            <div class="col col-4 d-flex align-items-center justify-content-center flex-column">

                <div class="col">
                    <a class="box">
                        <div class="content">
                            <div class="service-icon">
                                <i class="fa fa-address-book fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="description">
                                <p>Some description text here of the title that displays on hover</p>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="box">
                        <div class="content">
                            <div class="service-icon">
                                <i class="fa fa-address-book fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="description">
                                <p>Some description text here of the title that displays on hover</p>
                             </div>

                        </div>
                    </a>
                </div>
            </div>


        </div>
    </section>
</body>

</html>